body, html {
    font-family: 'Titillium Web', sans-serif;
    color: #D1DEE6;
    background-color: #222429;
    height: 100%;
    display: grid;
    padding: 1.5rem;
    overflow: hidden;
}

div {
    margin: auto;
}

p {
    font-family: 'Crete Round', serif;
    line-height: 1.6;
    max-width: 26rem;
}

a {
    color: #73B3FF;
    line-height: 2.5;
}
