@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

html {
    font-family: 'Titillium+Web', sans-serif;
    color: #D1DEE6;
    background-color: #222429;
}

main {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 1.5rem;
}

p {
    line-height: 1.6;
}

a {
    color: #73B3FF;
}
