@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

html {
    font-family: 'Titillium+Web', sans-serif;
    color: #D1DEE6;
    background-color: #222429;
}

p {
    line-height: 1.6;
}

a {
    color: #73B3FF;
}
